
/* Begin Reset */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* !!!!!!!!!! disabled !!!!!!!!!!
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:0; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
*/
/* End Reset */


@font-face {
	font-family: 'Bauhaus Light';
	src: url('#{resource['fonts/BauhausLight.eot']}');
	src: url('#{resource['fonts/BauhausLight.eot']}'), 
		 url('#{resource['fonts/BauhausLight.ttf']}') format('truetype'),
		 url('#{resource['fonts/BauhausLight.otf']}') format('opentype'),
		 url('#{resource['fonts/BauhausLight.svg']}') format('svg');
}

@font-face {
	font-family: 'Bauhaus Demi';
	src: url('#{resource['fonts/BauhausDemi.eot']}');
	src: url('#{resource['fonts/BauhausDemi.eot']}'), 
		 url('#{resource['fonts/BauhausDemi.ttf']}') format('truetype'),
		 url('#{resource['fonts/BauhausDemi.otf']}') format('opentype'),
		 url('#{resource['fonts/BauhausDemi.svg']}') format('svg');
}

@font-face {
	font-family: 'Bauhaus Medium';
	src: url('#{resource['fonts/BauhausMedium.eot']}');
	src: url('#{resource['fonts/BauhausMedium.eot']}'),
		 url('#{resource['fonts/BauhausMedium.ttf']}') format('truetype'),
		 url('#{resource['fonts/BauhausMedium.otf']}') format('opentype'),
		 url('#{resource['fonts/BauhausMedium.svg']}') format('svg');
}

body {
	margin: 0 auto;
}

table {
	border-collapse:collapse;border-spacing:0;
}

.pagina {
	width: 100%;
	margin: 0 auto;
}

.cabecalho {
	display: block;
	width: 100%;
	border-bottom: solid 1px #eaeaea;
	background-color: #fafafa;
	line-height:0; /* from css reset, to remove trash padding/maring from div */
}

.cabecalho * {
	line-height:0;
	padding: 0;
	margin: 0;
}

.cabecalho_logo {
	height:35px;
	padding:3px;
	padding-left:10px;
}

.conteudo {
	padding: 15px;
	font-family: sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	font-weight: normal;
}

.rodape {
	position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 100%;
	min-height: 17px;
	border-top: solid 1px #eaeaea;
	background-color: #fafafa;
	color: #aaaaaa;
	font-size:14px;
	font-family: sans-serif;
	font-weight:bold;
	text-align: left;
}

.botaoLink {
	text-transform: lowercase;
	font-family: 'Bauhaus Demi';
	font-weight: normal;
	color: #0099cc;
	border: 1px solid #0099cc;
	padding: 2px 6px 2px 6px;
	text-decoration:none;
}

.botaoLink:hover {
	background-color: #0099cc;
	color: #ffffff;
}

.loginPanel {
	display:inline-block;
	margin-top:80px;
}

.crudGrid {
	width: 95%;
}

.msg-dlg-usuario {
	max-width: 460px;
}

.mainmenu-item span {
	float: none !important;
	font-weight: bold !important;
}

.mainmenu-item span:hover {
	border-bottom: 2px solid #00CC00;
}

.mainmenu-td {
	width: 100%;
}

.mainmenu {
	float: right;
	vertical-align: center;
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 3px 0 0 !important;
	line-height: 0 !important; 
}

.mainmenu a {
	color: #0099CC;
	padding-bottom: 3px;
	font-family: 'Bauhaus Demi' !important;
	font-size: 22px !important;
	font-weight: bold !important;
	text-transform: lowercase !important;
	background: none !important;
}
.mainmenu a:hover {
	color:#00CC00;
	background: none !important;
	text-decoration: none !important;
}

.mainmenu a:active {
	background: none !important;
}

.mainmenu .ui-menubar {
	height: auto !important;
	width: auto !important;
	padding: 0px !important;
	margin: 0px !important;
	line-height: 0 !important;
}

.mainmenu .ui-menu-child {
	width: auto !important;
	padding: 0px !important;
	margin: 0px !important;
	line-height: 0 !important;
}

/* Cores */

.verde_claro {
	color: #40FF40;
}

.verde {
	color: #00CC00;
}

.azul {
	color: #0099cc;
}

.azul_claro {
	color: #3ac2cf;
}

.cinza {
	color: #666666;
}

.fundo_cinza {
	background-color: #BBBBBB
}

.opacidade80 {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.margem_10 {
	margin: 10px !important;
}

.margem_hz_10 {
	margin-left: 10px;
	margin-right: 10px;
}

.ui-button {
	font-family: Bauhaus Light;
	text-transform: lowercase;
	font-size: 1.1em;
	padding:1px !important;
}

.ui-button span {
	text-shadow: none !important;
	font-weight: noemal !important;
}

/*
.ui-state-default {
	font-family: Bauhaus Light;
}
*/
.ui-widget-header, .ui-datatable-header, .ui-datatable th {
	font-family: Bauhaus Medium;
}

.erro {
	color: #cd0a0a;
}