@font-face {
	font-family: 'Bauhaus Light';
	src: url('#{resource['fonts/BauhausLight.eot']}');
	src: url('#{resource['fonts/BauhausLight.eot']}'), 
		 url('#{resource['fonts/BauhausLight.ttf']}') format('truetype'),
		 url('#{resource['fonts/BauhausLight.otf']}') format('opentype'),
		 url('#{resource['fonts/BauhausLight.svg']}') format('svg');
}

@font-face {
	font-family: 'Bauhaus Demi';
	src: url('#{resource['fonts/BauhausDemi.eot']}');
	src: url('#{resource['fonts/BauhausDemi.eot']}'), 
		 url('#{resource['fonts/BauhausDemi.ttf']}') format('truetype'),
		 url('#{resource['fonts/BauhausDemi.otf']}') format('opentype'),
		 url('#{resource['fonts/BauhausDemi.svg']}') format('svg');
}

@font-face {
	font-family: 'Bauhaus Medium';
	src: url('#{resource['fonts/BauhausMedium.eot']}');
	src: url('#{resource['fonts/BauhausMedium.eot']}'),
		 url('#{resource['fonts/BauhausMedium.ttf']}') format('truetype'),
		 url('#{resource['fonts/BauhausMedium.otf']}') format('opentype'),
		 url('#{resource['fonts/BauhausMedium.svg']}') format('svg');
}

body {
	margin: 0 auto;
}

.pagina {
	width: 100%;
	margin: 0 auto;
}

#cabecalho {
	height: 45px;
	width: 100%;
	border-bottom: solid 1px #eaeaea;
	background-color: #fafafa;
	padding-top: 5px;
}

.cabecalho_logo {
	height:35px;
	padding:2px;
	padding-left:10px;
}

.conteudo {
	padding: 15px;
	font-family: sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	font-weight: normal;
}

#rodape {
	position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 100%;
	min-height: 17px;
	border-top: solid 1px #eaeaea;
	background-color: #fafafa;
	color: #aaaaaa;
	font-size:14px;
	font-family: sans-serif;
	font-weight:bold;
	text-align: left;
}

.botaoLink {
	text-transform: lowercase;
	font-family: 'Bauhaus Demi';
	font-weight: normal;
	color: #0099cc;
	border: 1px solid #0099cc;
	padding: 2px 6px 2px 6px;
	text-decoration:none;
}

.botaoLink:hover {
	background-color: #0099cc;
	color: #ffffff;
}

.menu, .menu * { /* SuperFish Menu Styles */
	margin: 0;
	padding: 0;
	list-style: none;
	float:right;
	font-weight:bold;
	line-height:1em;
	text-transform:lowercase;
	font-family: 'Bauhaus Demi';
	font-size: 22px;
}

.menu {
	height:25px;
}
.menu a {
	display:block;
	color:#0099CC;
	padding-bottom:5px;
}
.menu a:hover {
	text-decoration:none;
	border-bottom:2px solid;
	color:#666666
}

.menu ul {
	padding-right:30px;
}

.menu li {
	float: left;
	position: relative;
	margin: 0 14px 0 0px;
	padding: 0px;
}

.menu li a {
	text-decoration:none;
}

/* Cores */

.verde {
	color: #40FF40;
}

.verde_claro {
	color: #00CC00;
}

.azul {
	color: #0099cc;
}

.azul_claro {
	color: #3ac2cf;
}

.cinza {
	color: #666666;
}

.fundo_cinza {
	background-color: #BBBBBB
}

.opacidade80 {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.margem_10 {
	margin: 10px;
}

.margem_hz_10 {
	margin-left: 10px;
	margin-right: 10px;
}

.ui-button {
	font-family: Bauhaus Light;
	text-transform: lowercase;
	font-size: 1.1em;
	padding:1px !important;
}

.ui-button span {
	text-shadow: none !important;
	font-weight: noemal !important;
}

/*
.ui-state-default {
	font-family: Bauhaus Light;
}
*/
.ui-widget-header, .ui-datatable-header, .ui-datatable th {
	font-family: Bauhaus Medium;
}

.erro {
	color: #cd0a0a;
}